{% extends 'layout/basic.html' %}
{% block title %}{{ current_rubric.name }}{% endblock %}

{% block content %}
<h2>{{ current_rubric.name }}</h2>
{% for bb in bbs %}
    <div class="content-container">
        <div class="content-name">
            <h2>{{bb.title}}</h2>
        </div>

        <div class="content">
            <p>{{bb.content}}</p>
            <p>${{bb.price}}</p>
            <br>
            <h6>{{bb.published}}</h6>
            <div class="content-footer">
                <a href="{{ bb.get_absolute_url }}">
                     <input type="submit" value="Подробнее">
                </a>
            </div>
        </div>
    </div>
{% endblock %}